/.vscode
/lab22Data.bin
/lab22Data.exe
/lab22Data.ilk
/lab22Data.pdb
/lab22Data.txt
/lab22functs.exe
/lab22functs.ilk
/lab22functs.obj
/lab22functs.pdb
/lab22main.exe
/lab22main.ilk
/lab22main.obj
/lab22main.pdb
/vc140.pdb